<!DOCTYPE html>


<html> 
    <head>
        <meta charset="utf-8">
        <title>
            User
        </title>
    </head>
    <body>
        <h4>Here is the list of Users.</h4>
        {%for u in user%}
        <ol>
            User Info <br>
            <ul>
                <li>First Name: {{u.first_name}}</li>
                <li>Last Name: {{u.last_name}}</li>
                <li>Email: {{u.email}}</li>
            </ul>

        </ol>

        {%endfor%}
        <a href="{% url 'login' %}"> LOGIN </a>
    </body>
</html>